/*Reusable CSS*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    
}
.flexible-body{
    margin: 7% 5% 0 5%;
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.link-color{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #FF5959;
    color: #FFFFFF;
    border-radius: 5px;
   
}


/*Banner Section CSS start */

#banner-section{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0.24) 100%), url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.banner-info{
    text-align: center;
    padding: 150px 0;
}
/*Banner Section CSS end */


/*Donate Section CSS start */
.donate-info p ,.donate-panl-info p{
    color: #707070;
}
.donate-catagory{
    display: flex;
    justify-content: center;
}
.donate-amount{
    width: 135px;
    height: 123px;
    background: #edebeb;
    border-radius: 5px;
    margin: 10px;
    
}
.donate-amount h4{
    padding-top: 35%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
.donate-amount:hover{
    background: #fce5e5;
    color: #FF5959;

}
.donate-others ,.donate-panl-info {
    text-align: center;
}
.donate-others input[type=text] { 
    width: 80%;
    padding: 12px 20px;
    margin: 3% 10%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(100, 93, 93, 0.463);
}
.donate-others input[type="text"]::placeholder {        
    text-align: center;
}
/*Donate Section CSS end  */


/*Donate plan Section CSS start  */

.donate-plan-card{
    display: flex;
    justify-content: space-around;
    
}
.donate-plan-card-child{
    margin: 10px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px; 
    padding: 50px 10px 20px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

}

.donate-plan-card-child h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    padding: 20px 0;
    

}
.donate-plan-card-child p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    text-align: left;
}
#Danate-bg-color2{
    background-color: #FFEEEE;
}
#Danate-bg-color3{
    background-color: #FFF4D6;
}


.subsciber{
    text-align: center;
    background-color: #FFF4D6;
    margin: 0 20%;
    padding: 5% 0;
}
.subsciber input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
.subsciber input[type="text"]{
   background-color: rgb(204, 200, 200);
   width: 300px; 
   height: 50px;
   border: none;
   outline: none;
   padding: 0 25px;
   border-radius: 10px 0 0 10px;

}
.subsciber input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 10px 10px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background-color:#FF5959 ;
    color: #FFF;
}
